Django
fabric
gunicorn
supervisor
psycopg2
South
Pillow
django-cms
django-reversion
djangocms-file
djangocms-flash
djangocms-googlemap
djangocms-link
djangocms-picture
djangocms-teaser
djangocms-text-ckeditor
djangocms-twitter
djangocms-video
