Django==1.8.7
fabric
GitPython
gunicorn
supervisor
psycopg2
paramiko
#ipdb

cmsplugin-filer
django-ckeditor-updated
django-cms
djangocms-admin-style
djangocms-text-ckeditor>=2.8.1
django-compressor
django-filer
django-hvad
django-reversion
django-rosetta
easy-thumbnails
Pillow

